body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 90%;
  color: white;
  top: 0;
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  top: 0;
  margin: 0;
  padding: 0;
  font-size: 96px;
  font-family: Inter-Tight;
}

.subtitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.button {
  margin-top: 24px;
  display: flex;
  padding: 16px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: var(--button-primary, #6802dd);
  border: none;
  color: var(--text-body, #fff);
  font-family: Inter-Tight;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  background: var(--button-primary-hover, #5a00c2);
}

.button:active {
  background: var(--button-primary-active, #4d00a8);
}

.button:focus {
  outline: none;
}

.button:disabled {
  background: var(--button-primary-disabled, #4d00a8);
  cursor: not-allowed;
}

.button img {
  width: 24px;
  height: 24px;
}
