body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 90%;
  color: white;
  top: 0;
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.titleDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 24px;
  background: #16182e;
  padding: 40px;
  gap: 20px;
  width: 525px;
  > h1 {
    margin: 0;
    padding: 0;
    font-weight: 500;
  }
  font-family: Inter-Tight;
  font-style: normal;
}

.actionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #8a46ff;
  background-color: #8a46ff;
  color: white;
  font-size: 18px;
  font-family: Inter-Tight;
  width: auto;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 12px;
}

a {
  text-decoration: none;
}

.modal {
  color: #ffffff;
}
.modalHeader {
  background: #16182e;
  border-radius: 24px;
  border: 2px solid #16182e;
}
.modalInput input {
  background: #16182e;
  border: none;
}

.modalInput select {
  background: #16182e;
  border: none;
}

.modalTitle {
  font-size: 20px;
  font-family: Inter-Tight;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}

.modalContentItem {
  display: flex;
  margin: 24px 0;
  padding: 0 20px;
  background: #101124;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  gap: 6px;
  color: #ffffff;
  border-radius: 8px;
}

.modalContentItem img {
  width: 30px;
  height: 30px;
}

.modalContentItemInput {
  width: 80%;
  height: 64px;
  background: #101124;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  padding: 0 20px 0 0;
}

.modalContentItemInput:focus {
  outline: none;
}

.modalButtonGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 24px;
}

.modalDepositButton {
  width: 90%;
  height: 50px;
  background: #6802dd;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContentItemLabel {
  font-size: 14px;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
  padding: 20px 0;
}

.modalContentItemValue {
  background: #101124;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
  padding: 20px 0;
}

.gasHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  gap: 6px;
  color: #ffffff;
  border-radius: 8px;
  padding: 0 20px;
}

.gasContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 6px;
  color: #ffffff;
  border-radius: 8px;
  padding: 0 20px;
}

.congestion {
  color: #fa3c58;
  text-align: center;
  padding: 20px;
}
